@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: rgba(19, 19, 19, 0.925);
    --black: #000000;
    --blue: rgba(52, 147, 216, 1);
    --white: rgba(255, 255, 255, 0.73);
}

body {
    font-family: 'Roboto';
    background-color: var(--black);
}


a {
    text-decoration: none;
}

span{
    color: var(--blue);
}

header {
    background-color: var(--gray);
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 4em;
}

.nav-list li a{
    color: var(--white);
}

.logo{
    color: var(--white);
    font-weight: 100;
}

