@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: rgba(19, 19, 19, 0.925);
    --black: #000000;
    --blue: rgba(52, 147, 216, 1);
    --over: rgb(43, 102, 145);
    --white: rgba(255, 255, 255, 0.73);
}
html{
    font-size: 90%;
}

body {
    font-family: 'Roboto';
    background-color: var(--black);
    color: var(--white);
    font-size: 1.12em;
}

a {
    text-decoration: none;
}

.blue {
    color: var(--blue);
}

/* Header */
header {
    background-color: var(--gray);
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 4em;
}

.nav-list li a {
    color: var(--white);
    font-size: 0.92em;
}

.nav-list li a:hover {
    color: var(--over);
    cursor: pointer;
    transition: ease-in 0.3s;
}

.logo {
    color: var(--white);
    padding-top: 1em;
    font-weight: 100;
}

/* MAIN */
.container {
    width: 100%;
    text-align: center;
}

.about {
    padding: 2rem;
    margin: 3.25em;

}

.about h1 {
    font-size: 1.65em;
    font-weight: 400;
    letter-spacing: 1.55px;
    margin-bottom: 0.65em;
}

/* THINGS */
.things {
    padding: 2em;
    margin: 2em auto;
    justify-content: space-around;
    display: flex;
    max-width: 1280px;
}

.text {
    width: 70%;
    text-align: left;
}

h2 {
    font-size: 1.65em;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 0.65em;
}

.text p {
    padding: 0.4em;
    line-height: 1.24em;
}

.buttons {
    width: 280px;
    display: flex;
    justify-content: space-evenly;
    margin: 1.5em;
}

.buttons button {
    padding: 1.25em;
    background-color: transparent;
    border: 1.65px solid var(--over);
    border-radius: 30px;
}

.buttons button a {
    color: var(--white);
    font-size: 1.15em;
}

.buttons button,
button a:hover {
    cursor: pointer;
    color: var(--over);
    transition: ease-in-out 0.3s;
}

.profile {
    padding: 2em;

}

.image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 2px;
    background-color: var(--white);
    box-shadow: 0 0 20px var(--blue);

}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1.4px solid var(--blue);
}

/* SKILLS */
.skills {
    background-color: var(--gray);
}

.skills h2{
    text-shadow: 0 0 20px var(--blue);
    padding-top : 1.25em;
    display: inline-block;
}