@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

body{
    font-family: 'Roboto';
}

a{
    text-decoration: none;
}

header{
    background-color: #0001;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
}

.nav-list{
    list-style: none;
    display: flex;   
}

.nav-list li {
    margin-left: 4em;
}